@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer utilities {
  .animate-scroll {
    display: flex;
    width: max-content;
    /* 30s adalah durasi, linear artinya kecepatan konstan */
    animation: scroll-horizontal 30s linear infinite;
  }

  @keyframes scroll-horizontal {
    0% {
      transform: translateX(0);
    }
    100% {
      /* Menggeser ke kiri tepat sepertiga dari total lebar karena kita duplikasi 3x */
      transform: translateX(calc(-33.333% - 1.33rem)); 
    }
  }
}
